@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'bebas neue';
    font-size: 20px;
    margin: 0;
}

.navbar {
    background-color: #AAA9A9;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #dddddd;
    color: #000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #dddddd;
    color: #000000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1024px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar a,
    .dropdown {
        width: 100%;
        text-align: center;
    }
    
    .dropdown-content {
        position: static;
        display: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
}



/* @media screen and (max-width: 1024px){
    .navbar {
        display: flex;
        justify-content: center;
    }
} */

